# NextAuth
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

# DB
DATABASE_HOST=DB_HOST
DATABASE_PORT=DB_PORT
DATABASE_USER=DB_USER
DATABASE_PASSWORD=DB_PASSWORD
DATABASE_NAME=DB_NAME
DATABASE_SSL=true

# Discord
DISCORD_FORM_WEBHOOK=YOUR_WEBHOOK_URL

# Cloudflare Turnstile
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=YOUR_CLOUDFLARE_TURNSTILE_SITE_KEY
CLOUDFLARE_TURNSTILE_SECRET_KEY=YOUR_CLOUDFLARE_TURNSTILE_SECRET_KEY

# APP
NEXT_PUBLIC_APP_URL=http://localhost:3000/
