# NextAuth
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

# DB
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_SSL=false

# Discord
DISCORD_FORM_WEBHOOK=YOUR_WEBHOOK_URL

# Cloudflare Turnstile
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
#NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=1x00000000000000000000AA # Always passes
#NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=2x00000000000000000000AB # Always fails
#NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=1x00000000000000000000BB # Always passes (invisible)
#NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=2x00000000000000000000BB # Always fails (invisible)
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=3x00000000000000000000FF # Forces interactive challenge
CLOUDFLARE_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA # Always passes validation
#CLOUDFLARE_TURNSTILE_SECRET_KEY=2x0000000000000000000000000000000AA # Always fails validation
#CLOUDFLARE_TURNSTILE_SECRET_KEY=3x0000000000000000000000000000000AA # Returns "token already spent" error

# APP
NEXT_PUBLIC_APP_URL=http://localhost:3000/
